# IntelliJ
**/.idea/workspace.xml
.idea
.idea/
**/*.iml
**/maven-wrapper.jar

.env
.env.sh

# Maven
**/target/

# Mac OS X
**/.DS_Store

# Misc
hybrid/*
pom.xml.*

10e*.input
*_pb2.py

# VSCode
.vscode
.vscode/*


# Kafka integration configuration for development
/build/env.sh
/conf/kafka/default.properties
/wayang-platforms/wayang-java/src/main/resources/wayang-kafka-defaults.properties
/wayang-platforms/wayang-java/src/main/resources/wayang-kafka-defaults.properties.template

# Scala Plugin for VSCode
.metals
